<h1>kirjaudu sisään</h1>

<%= form_tag session_path do %>
    käyttäjänimi <%= text_field_tag :username, params[:username] %>
    salasana <%= password_field_tag :password, params[:password] %>

    <%= submit_tag "kirjaudu sisään", :class => 'btn btn-default'%>
<% end %><br/>
<%= link_to 'rekisteröidy käyttäjäksi tästä', signup_path %>