<!--
<div ng-app="met" ng-controller="StoriesController">
  <div class="story" ng-repeat="story in stories">
    <h2>{{story.title}}</h2>
    <p>{{story.story}}</p>
    <p>Love, </p>
    <p>{{story.user.username}}</p>
  </div>
</div>-->


<% @stories.each do |story| %>
    <div class="story">

      <%= button_to like_path(:story_id => story.id, :value => 1), method: :post, :class => 'button-comment pull-right' do %>
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <%= story.likes.length %>
      <% end %>

      <%= button_to story, method: :get, :class => 'button-comment' do %>
          <span class="glyphicon glyphicon-comment"></span>
          <%= story.comments.length %>
      <% end %>
      <div class="story-container">
        <span class="pull-right"><%= story.created_at.strftime('%d/%m/%Y %H:%M') %></span>
        <h2><%= story.title %></h2>
        <p><%= story.story %></p>
        <p>Love, </p>
        <p><%= story.user.username %></p>


        <%# link_to like_path(:story_id => story.id, :value => 1), method: :post do %>
            <!--<span class="glyphicon glyphicon-thumbs-up"></span>-->
            <%# story.likes.length %>
        <%# end %>



      </div>
    </div>
<% end %>
