
<div class="story">

    <%= button_to like_path(:story_id => @story.id, :value => 1), method: :post, :class => 'button-comment pull-right' do %>
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <%= @story.likes.length %>
    <% end %>

    <% if @story.user == current_user %>
        <%= button_to edit_story_path(@story), method: :get, :class => 'button-comment pull-left' do %>
            <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
    <% end %>



  <div id="story-container">
    <span class="pull-right"><%= @story.created_at.strftime('%d/%m/%Y %H:%M') %></span>
    <h2><%= @story.title %></h2>
    <p><%= simple_format(@story.story ) %></p>
    <p>Love, </p>
    <%= link_to @story.user.username, user_path(@story.user)%>
    <hr>
    </div>

<% if current_user %>
    <%= form_for(@comment) do |f| %>
        <% if @comment.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

              <ul>
                <% @comment.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="comment-container">
          <%= f.text_area :content, :id => 'comment', :placeholder => 'kirjoita kommenttisi t채h채n' %>
          <%= f.hidden_field :story_id, :value => @story.id%>


          <%= f.submit 'kommentoi!' %>
        </div>
    <% end %>
<% end %>

<h4>kommentit
  <% if not current_user %>
    <%= link_to 'kirjaudu sis채채n ja kommentoi', signin_path %>
  <% end %>
</h4>


<div class="story">
  <% @comments.each do |comment| %>

      <%= simple_format(h(comment.content)) %>
      <p class="pull-left"><strong><%=link_to comment.user.username, user_path(comment.user) %></strong></p>

      <p class="pull-right"><%= comment.created_at.strftime('%d/%m/%Y %H:%M') %></p>
      <br /><hr>
  <% end %>
</div>
</div>
<% if @story.user == current_user %>
    <%= link_to 'muokkaa tarinaa', edit_story_path(@story) %> |
<% end %>
<%= link_to 'takaisin', stories_path %>

